@mixin circle {
  position: relative;
  z-index: 1;
  padding: 10px 0 5px 10px;
  min-width: 36px;
  &::before {
    content: "";
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: $main-color;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
}

@mixin circle-min {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-50%);
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: $main-color;
  }
}
