@import "base/mixins";

.circle {
  @include circle;
  &_line {
    &::after {
      content: "";
      position: absolute;
      left: 0;
      transform: translateX(-100%);
      top: 18px;
      width: 45px;
      height: 1px;
      background-color: $text-color;
    }
  }
}

.circle-min {
  @include circle-min;
}
