.columns {
  display: flex;
  &_big {
    gap: 70px;
    flex-direction: row-reverse;
    flex-wrap: wrap;
  }
  &_min {
    gap: 20px;
  }
  &__text {
    max-width: 570px;
  }
  &__title {
    font-size: 20px;
    font-weight: 700;
  }
  &__decorated {
    border-left: 1px solid $text-color;
    position: relative;
  }
  &__img {
    img {
      width: 400px;
    }
  }
}

@media (max-width: 1060px) {
  .columns {
    &_big {
      justify-content: center;
    }
    &__img_contacts {
      display: none;
    }
  }
}

@media (max-width: 810px) {
  .columns {
    &_experience {
      flex-wrap: wrap;
      gap: 60px;
    }
  }
}

@media (max-width: 440px) {
  .columns {
    &__img {
      img {
        width: 300px;
      }
    }
  }
}
