.form {
  padding-top: 20px;
  &__legend {
    margin-bottom: 30px;
  }
  &__inputs-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
  }
  &__fieldset {
    position: relative;
    border: none;
    margin-bottom: 30px;
  }
  &__input {
    width: 270px;
    padding: 14px 20px;
    font-size: 12px;
    border: 1px solid $text-color;
  }
  &__button {
    border: none;
  }
  &__label {
    position: absolute;
    top: -12px;
    left: 20px;
    padding: 2px 8px;
    background-color: #fff;
    border: none;
    &_policy {
      position: static;
    }
  }
  &__textarea {
    width: 100%;
    resize: none;
  }
  &__policy {
    display: flex;
    align-items: center;
    gap: 5px;
  }
}

@media (max-width: 610px) {
  .form {
    &__inputs-wrapper {
      flex-wrap: wrap;
      margin-bottom: 20px;
    }
    &__fieldset {
      width: 100%;
      margin-bottom: 10px;
    }
    &__input {
      width: 100%;
    }
    &__button {
      margin-top: 10px;
    }
  }
}
